button{
    background: linear-gradient(45deg,black,blueviolet);
    color: white;
    border: none;
    padding: 14px 25px;
    font-size: 25px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 0 3px darkslategray;
    margin-left: 50px;
}
div{
    width: 200px;
    height: 200px;
    background:linear-gradient(45deg,black,white);
    border-radius: 50%;
    box-shadow: 0 0 10px black;
    color: white;
    text-align: center;
    line-height: 200px;
    font-family: Arial,sans-serif;
    margin: 50px;
}
div span{
    font-size: 50px;
}